<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map page</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
<!--    <script type="application/javascript" src="/static/d3.js"></script>-->
    <script type="application/javascript" src="/static/map.js"></script>
</head>
<body>
    <script type="text/javascript">
        console.log('Entered <body> script')

        console.log('Fetching data')
        fetch('/mapdata')
        .then(response => response.json())
        .then(data => renderMap(data));

    </script>

    <div>
        <div class="map"></div>
        <div class="legend"></div>
    </div>

</body>
</html>