<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subnautical</title>
    <script type="application/javascript" src="/static/d3.v6.min.js"></script>
    <script type="application/javascript" src="/static/d3-simple-slider.min.js"></script>
    <script type="application/javascript" src="/static/map.js"></script>
    <link rel="stylesheet" href="/static/map.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="map_block">
        <div class="plot"></div>
        <div class="sidebar">
            <div class="sidebar-contents">
                <div class="legend">
                    <h4>Show/Hide Marker Types:</h4>
                    <input type="button" class="legend-clear-all" value="Hide All"/>
                    <input type="button" class="legend-check-all" value="Show All"/>
                    <input type="button" class="legend-add-type" value="New Type"/>
                </div>
                <div class="depth-filter">
                    Depth filter:
<!--                    <p id="depth-value"></p>-->
<!--                    <div id="depth-slider"></div>-->

                    <p id="value-range"></p>
                    <div id="slider-range"></div>

                </div>
                <div class="controls">
                    <h4>Add new marker:</h4>
                    <form class="new-bearing-form" action="/marker" method="post">
                        <div class="tooltip">Name<span class="tooltiptext">Caption for the marker</span></div>
                        <input type="text" class="new-bearing-name" name="name"/><br/>

                        <div class="tooltip">Distance<span class="tooltiptext">Distance - the HUD distance shown to your lifepod (for all you math nerds: don't worry about your depth- that'll get calculated for you!)</span></div>
                        <input type="number" name="distance"/><br/>

                        <div class="tooltip">Heading<span class="tooltiptext">Heading - the compass value while pointed at your lifepod</span></div>
                        <input type="number" name="heading"/><br/>

                        <div class="tooltip">Depth<span class="tooltiptext">Your current depth meter. Use 0 if above sea level.</span></div>
                        <input type="number" name="depth"/><br/>

                        <div class="tooltip">Type<span class="tooltiptext">Type of marker. Create new types below.</span></div>
                        <select name="marker_type" class="marker-type-dropdown">
                        </select>
                        <br/>

                        <input type="submit" value="Add New Bearing"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        fetch('/mapdata')
        .then(response => response.json())
        .then(data => renderMap(data));
        initializeDepthSlider();
    </script>
    {% endblock %}


</body>
</html>