; Copy this file to "subnautical.conf" and set your own values there.

[DB]
; DB hostname, e.g. cluster0.ABCDE.mongodb.net if using Atlas
hostname=

; DB name
database=Subnautical

; User/password with write access to your database
user=subnautical
password=

[Server]
; Host and port on which to listen to traffic. Use 0.0.0.0 for local testing
host=0.0.0.0
port=5000

; Domain name clients use to access this service.
; Use localhost for local testing and point browser to http://127.0.0.1:port
domain=localhost

[OAUTH]
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
